<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Fethiye</h3>
                    <p class="para mt-3 mb-lg-4 "> </p>
                    <a href="/Contact/Index/" class="action-button btn mt-4">İletişim</a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Templates/go-trip-starter/assets/images/mugla.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>
